* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr,minmax(100px,1fr),minmax(100px,1fr);
    grid-template-rows: minmax(100px,1fr),4fr,minmax(100px,1fr);
    grid-template-areas: 
        "he he he na"
        "di di di di"
        "di di di di"
        "di di di di"
        "di di di di"
        "fo fo fo fo"
    ;
}

header {
    grid-area: he;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: rgb(189, 189, 231);
}

nav {
    grid-area: na;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(189, 189, 231);
}

div {
    grid-area: di;
    display: flex;
}

.img_om_oss {
    display: flex;
    align-items: stretch;
    justify-content: left;
    flex-direction: row;
}

article {
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

footer {
    grid-area: fo;
    background: black;
}

#meny {
    display: flex;
    order: 1;
    flex: 1;
}

#om_oss {
    display: flex;
    order: 2;
    flex: 1;
}

#hem {
    display: flex;
    order: 3;
    flex: 1;
}